 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1445px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  font-style: normal;
  text-align: left;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 65px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 1084px;
  grid-gap: 20px;
}

.u-section-1 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("/images/d3535228b182e3bcacca8fe6d5b7705ca938ee04371bc60a07ea0acdbca3f3a8449f49fe896b631b7296163ec2cc1a1ee8138894334cf9a6ed6ae0_1280.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 26px;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 258px 8px 0 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 17px 4px 0;
}

.u-section-1 .u-text-5 {
  font-style: normal;
  font-weight: normal;
  margin: 21px 4px 0;
}

.u-section-1 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("/images/d3535228b182e3bcacca8fe6d5b7705ca938ee04371bc60a07ea0acdbca3f3a8449f49fe896b631b7296163ec2cc1a1ee8138894334cf9a6ed6ae0_1280.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 26px;
}

.u-section-1 .u-text-6 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 258px 8px 0 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 17px 4px 0;
}

.u-section-1 .u-text-8 {
  font-style: normal;
  font-weight: normal;
  margin: 21px 4px 0;
}

.u-section-1 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("/images/d3535228b182e3bcacca8fe6d5b7705ca938ee04371bc60a07ea0acdbca3f3a8449f49fe896b631b7296163ec2cc1a1ee8138894334cf9a6ed6ae0_1280.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 26px;
}

.u-section-1 .u-text-9 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 258px 8px 0 0;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: 17px 4px 0;
}

.u-section-1 .u-text-11 {
  font-style: normal;
  font-weight: normal;
  margin: 21px 4px 0;
}

.u-section-1 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("/images/d3535228b182e3bcacca8fe6d5b7705ca938ee04371bc60a07ea0acdbca3f3a8449f49fe896b631b7296163ec2cc1a1ee8138894334cf9a6ed6ae0_1280.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 26px;
}

.u-section-1 .u-text-12 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 258px 8px 0 0;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  margin: 17px 4px 0;
}

.u-section-1 .u-text-14 {
  font-style: normal;
  font-weight: normal;
  margin: 21px 4px 0;
}

.u-section-1 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("/images/d3535228b182e3bcacca8fe6d5b7705ca938ee04371bc60a07ea0acdbca3f3a8449f49fe896b631b7296163ec2cc1a1ee8138894334cf9a6ed6ae0_1280.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 26px;
}

.u-section-1 .u-text-15 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 258px 8px 0 0;
}

.u-section-1 .u-text-16 {
  font-weight: 700;
  margin: 17px 4px 0;
}

.u-section-1 .u-text-17 {
  font-style: normal;
  font-weight: normal;
  margin: 21px 4px 0;
}

.u-section-1 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("/images/d3535228b182e3bcacca8fe6d5b7705ca938ee04371bc60a07ea0acdbca3f3a8449f49fe896b631b7296163ec2cc1a1ee8138894334cf9a6ed6ae0_1280.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 26px;
}

.u-section-1 .u-text-18 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 258px 8px 0 0;
}

.u-section-1 .u-text-19 {
  font-weight: 700;
  margin: 17px 4px 0;
}

.u-section-1 .u-text-20 {
  font-style: normal;
  font-weight: normal;
  margin: 21px 4px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    min-height: 891px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
  }

  .u-section-1 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-18 {
    margin-right: 0;
  }

  .u-section-1 .u-text-19 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-20 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.99997px));
    min-height: 1564px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3235px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 2992px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 214px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 214px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 214px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 214px;
  }

  .u-section-1 .u-text-15 {
    margin-top: 214px;
  }

  .u-section-1 .u-text-18 {
    margin-top: 214px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}